@model IEnumerable<DynamicEquipmentSystem.Models.Mark>
@{
    ViewBag.Title = "Додати друга";
}
<form asp-controller="Mark">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Назва маркеру</label>
        <select id="marks-select" type="text" class="form-control">
            <option value="" disabled>Ваші варіанти маркерів</option>
            @foreach (var mark in Model)
            {
                if (mark.IsActive == false)
                {
                    <option value="@mark.IdMark">@mark.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Додати" class="btn btn-default" onclick="func()" />
    </div>
    <script>
        function func() {
            var selector = document.getElementById('marks-select');
            var value = selector[selector.selectedIndex].value;

            JsActions.Home.MyTestMethod();

            //$.ajax({
            //    url: 'https://localhost:44364/api/mark/' + value,
            //    accepts: 'application/json',
            //    type: 'PUT',
            //    contentType: 'application/json',
            //    success: function (result) {
                    
                    
            //    }
            //});
            ////alert(value);
            //window.location.href = 'https://localhost:44371/Mark';
        }
    </script>
</form>