@model DynamicEquipmentSystem.Models.Station
@{
    ViewData["Title"] = "Індекс вашої станції";
}

<table class="table">
    <tr>Індекс вашої станції</tr>
    <tr>
        <td>@Model.IdStation</td>
    </tr>
</table>

