<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="lostmarkUrl" value="http://5x5.web/lostmark.php"/>
        <add key="foundmarkUrl" value="http://5x5.web/foundmark.php"/>
    </appSettings>
</configuration>